In [13]:
import pandas as pd
import numpy as np
from numpy import array

In [14]:
df = pd.read_csv('Stock-market-forecasting-master-1/data/SPY_returns_new.csv',parse_dates=True)
df.head()

,datetime,close,returns,pr_40,pr_176,pr_528,pr_1056,pr_2112,pr_4224,pr_above_dummy_40,...,pr_below_dummy_net_03971056,pr_below_dummy_net_03972112,pr_below_dummy_net_03974224,pr_below_dummy_net_059540,pr_below_dummy_net_0595176,pr_below_dummy_net_0595528,pr_below_dummy_net_05951056,pr_below_dummy_net_05952112,pr_below_dummy_net_05954224,cr
0,2004-01-02 11:00:00,78.501907,-0.001873,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,2004-01-02 12:00:00,78.410707,-0.001162,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,-0.001162
2,2004-01-02 13:00:00,78.361600,-0.000626,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,-0.000626
3,2004-01-02 14:00:00,77.821417,-0.006893,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,-0.006893
4,2004-01-02 15:00:00,77.870524,0.000631,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0.000631

In [15]:
df = df.loc[:, (df != df.iloc[0]).any()] 
df.shape

(32031, 78)

In [16]:
df = df.dropna()
df.shape

(32030, 78)

In [17]:
df.head()

,datetime,close,returns,pr_40,pr_176,pr_528,pr_1056,pr_2112,pr_4224,pr_above_dummy_1056,...,pr_below_dummy_net_03971056,pr_below_dummy_net_03972112,pr_below_dummy_net_03974224,pr_below_dummy_net_059540,pr_below_dummy_net_0595176,pr_below_dummy_net_0595528,pr_below_dummy_net_05951056,pr_below_dummy_net_05952112,pr_below_dummy_net_05954224,cr
1,2004-01-02 12:00:00,78.410707,-0.001162,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,-0.001162
2,2004-01-02 13:00:00,78.361600,-0.000626,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,-0.000626
3,2004-01-02 14:00:00,77.821417,-0.006893,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,-0.006893
4,2004-01-02 15:00:00,77.870524,0.000631,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0.000631
5,2004-01-02 16:00:00,78.123077,0.003243,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0.003243

In [18]:
df.shape

(32030, 78)

In [19]:
#df = df.drop(df.columns[[10, 74]], axis=1)
df = df.drop(df.columns[[i for i in range(9,77)]], axis=1)
df=df.drop("close",  axis=1)

df.head()

,datetime,returns,pr_40,pr_176,pr_528,pr_1056,pr_2112,pr_4224,cr
1,2004-01-02 12:00:00,-0.001162,0.0,0.0,0.0,0.0,0.0,0.0,-0.001162
2,2004-01-02 13:00:00,-0.000626,0.0,0.0,0.0,0.0,0.0,0.0,-0.000626
3,2004-01-02 14:00:00,-0.006893,0.0,0.0,0.0,0.0,0.0,0.0,-0.006893
4,2004-01-02 15:00:00,0.000631,0.0,0.0,0.0,0.0,0.0,0.0,0.000631
5,2004-01-02 16:00:00,0.003243,0.0,0.0,0.0,0.0,0.0,0.0,0.003243

In [20]:
df=df.drop("datetime",  axis=1)

In [21]:
df

,returns,pr_40,pr_176,pr_528,pr_1056,pr_2112,pr_4224,cr
1,-0.001162,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.001162
2,-0.000626,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000626
3,-0.006893,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.006893
4,0.000631,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000631
5,0.003243,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003243
...,...,...,...,...,...,...,...,...
32026,-0.006089,40.325,32.000000,30.276515,34.216856,44.998106,64.628314,-0.006089
32027,-0.002848,33.700,29.528409,28.878788,32.984848,43.910038,63.861032,-0.002848
32028,0.000984,37.325,30.573864,29.458333,33.520833,44.318182,64.181818,0.000984
32029,-0.000144,38.750,31.397727,29.848485,33.555871,44.287879,64.106534,-0.000144
32030,0.001630,40.125,31.943182,30.119318,33.812500,44.473485,64.235559,0.001630

In [22]:
from tensorflow import keras 
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from sklearn.preprocessing import StandardScaler

In [23]:
df_only_ret_standardised = df

scalerReturn = StandardScaler()
scalerCR = StandardScaler()
#scalerOR = StandardScaler()

scalerReturn.fit(df_only_ret_standardised["returns"].to_numpy().reshape(-1, 1))
scalerCR.fit(df_only_ret_standardised["cr"].to_numpy().reshape(-1, 1))
#scalerOR.fit(df_only_ret_standardised["or"].to_numpy().reshape(-1, 1))


df_only_ret_standardised["stand_returns"] = scalerReturn.transform(df_only_ret_standardised["returns"].to_numpy().reshape(-1, 1))
df_only_ret_standardised["stand_cr"] = scalerCR.transform(df_only_ret_standardised["cr"].to_numpy().reshape(-1, 1))
#df_only_ret_standardised["stand_or"] = scalerOR.transform(df_only_ret_standardised["or"].to_numpy().reshape(-1, 1))


#df_only_ret_standardised = df_only_ret_standardised[["stand_ir", "stand_cr", "stand_or"]]
df_only_ret_standardised  = df_only_ret_standardised.drop(["cr", "returns"], axis=1)

df_only_ret_standardised.head()

   pr_40  pr_176  pr_528  pr_1056  pr_2112  pr_4224  stand_returns  stand_cr
1    0.0     0.0     0.0      0.0      0.0      0.0      -0.289296 -0.288074
2    0.0     0.0     0.0      0.0      0.0      0.0      -0.163168 -0.161932
3    0.0     0.0     0.0      0.0      0.0      0.0      -1.639397 -1.638320
4    0.0     0.0     0.0      0.0      0.0      0.0       0.132992  0.134260
5    0.0     0.0     0.0      0.0      0.0      0.0       0.748297  0.749632

In [83]:
cols = df_only_ret_standardised.columns.tolist()
cols = cols[-2:] + cols[:-2]
cols

['stand_returns',
 'stand_cr',
 'pr_40',
 'pr_176',
 'pr_528',
 'pr_1056',
 'pr_2112',
 'pr_4224']

In [84]:
df_only_ret_standardised = df_only_ret_standardised[cols]
df.head()

,returns,pr_40,pr_176,pr_528,pr_1056,pr_2112,pr_4224,cr,stand_returns,stand_cr
1,-0.001162,0.0,0.0,0.0,0.0,0.0,0.0,-0.001162,-0.289296,-0.288074
2,-0.000626,0.0,0.0,0.0,0.0,0.0,0.0,-0.000626,-0.163168,-0.161932
3,-0.006893,0.0,0.0,0.0,0.0,0.0,0.0,-0.006893,-1.639397,-1.638320
4,0.000631,0.0,0.0,0.0,0.0,0.0,0.0,0.000631,0.132992,0.134260
5,0.003243,0.0,0.0,0.0,0.0,0.0,0.0,0.003243,0.748297,0.749632

In [120]:
look_back = 200
def load_data(stock, look_back):
    data_raw = stock.values
    data = []
    
    # create all possible sequences of length look_back
    for index in range(len(data_raw) - look_back): 
        data.append(data_raw[index: index + look_back])
    
    data = np.array(data);
    test_set_size = int(np.round(0.2*data.shape[0]));
    train_set_size = data.shape[0] - (test_set_size);
    
    x_train = data[:train_set_size,:,:]
    y_train = data[:train_set_size,0,:1]
    
    x_test = data[train_set_size:,:,:]
    y_test = data[train_set_size:,0,:1]
    
    return [x_train, y_train, x_test, y_test]

x_train, y_train, x_test, y_test = load_data(df_only_ret_standardised, look_back)
print(x_train.shape)
print(y_train.shape)

(25464, 200, 8)
(25464, 1)

In [121]:
df_only_ret_standardised.tail()

,stand_returns,stand_cr,pr_40,pr_176,pr_528,pr_1056,pr_2112,pr_4224
32026,-1.449804,-1.448707,40.325,32.000000,30.276515,34.216856,44.998106,64.628314
32027,-0.686390,-0.685210,33.700,29.528409,28.878788,32.984848,43.910038,63.861032
32028,0.216110,0.217387,37.325,30.573864,29.458333,33.520833,44.318182,64.181818
32029,-0.049529,-0.048280,38.750,31.397727,29.848485,33.555871,44.287879,64.106534
32030,0.368408,0.369701,40.125,31.943182,30.119318,33.812500,44.473485,64.235559

In [124]:
y_train_class = scalerReturn.inverse_transform(y_train)

In [125]:
y_train_class[y_train_class >=0] = 1
y_train_class[y_train_class <0] = 0

In [126]:
y_train_class

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

In [147]:
from keras.layers import Dropout
from keras.layers import ConvLSTM2D

n_steps = look_back


n_features = 8
x_train = x_train.reshape((x_train.shape[0], x_train.shape[1], n_features))

# define model
model = Sequential()
model.add(ConvLSTM2D(1, (5,5), input_shape=(n_steps, n_features)))
model.add(Dropout(0.1))
model.add(LSTM(50,   input_shape=(n_steps, n_features),))


model.add(Dropout(0.1))
model.add(Dense(1))
model.compile(loss='bce',
                          metrics=['accuracy'])

ValueError: Input 0 of layer "conv_lstm2d_7" is incompatible with the layer: expected ndim=5, found ndim=3. Full shape received: (None, 200, 8)

In [140]:
model.fit(x_train, y_train_class, epochs=100, validation_split=0.2, batch_size=512)

Epoch 1/100

ValueError: in user code:

    File "/usr/local/anaconda3/lib/python3.8/site-packages/keras/engine/training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/anaconda3/lib/python3.8/site-packages/keras/engine/training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/anaconda3/lib/python3.8/site-packages/keras/engine/training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/anaconda3/lib/python3.8/site-packages/keras/engine/training.py", line 859, in train_step
        y_pred = self(x, training=True)
    File "/usr/local/anaconda3/lib/python3.8/site-packages/keras/utils/traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/usr/local/anaconda3/lib/python3.8/site-packages/keras/engine/input_spec.py", line 214, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" '

    ValueError: Exception encountered when calling layer "sequential_9" (type Sequential).

    Input 0 of layer "conv_lstm2d_2" is incompatible with the layer: expected ndim=5, found ndim=3. Full shape received: (None, 200, 8)

    Call arguments received:
      â€¢ inputs=tf.Tensor(shape=(None, 200, 8), dtype=float32)
      â€¢ training=True
      â€¢ mask=None

In [ ]:
preds_class= np.transpose(model.predict(x_train, verbose=0))

In [ ]:
preds_class

array([[0.5105461 , 0.50639355, 0.5160329 , ..., 0.49291635, 0.49254945,
        0.49551064]], dtype=float32)

In [ ]:
out = 0
positive = 0
negative = 0
for i in range(len(preds_class[0])):
  if (preds_class[0][i]>=0.5):
    positive+=1
  else:
    negative+=1
  if preds_class[0][i] >= 0.5 and  np.transpose(y_train_class)[0][i] >=0.5 or preds_class[0][i] < 0.5 and np.transpose(y_train_class)[0][i] < 0.5:
    out += 1
  
print(f'Positive: {positive}')
print(f'Negative: {negative}')
print(out/len(preds_class[0]))

Positive: 16212
Negative: 9252
0.527803958529689